<% include ../header %>
<header>
<h2>Ntalk - Agenda de contatos</h2>
</header>
<section>
<p>Bem-vindo</p>

<p>
	Nome: <%- usuario.nome %>
</p>
<p>
	E-mail: <%- usuario.email %>
</p>
</section>
<% include ../exit %>
<% include ../footer %>